@charset "UTF-8";
body, html {
    height: 100%;
    margin: 0;
}
.sidebar {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: turquoise;
  overflow-x: hidden;
	padding-top: 16px;
	text-align: center;
}
.bg {
    /* The image used */
    background-image: url('plant.jpg');

    /* Full height */
		height: 100%;
		width: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
	/*Declare Fish*/
.fishBox {
	position: absolute;
	width: 100px;
	height: 100px;
	background-position: left top;
	background-repeat: no-repeat;
	background-size: contain;
}
.fishBoxRev {
	position: absolute;
	width: 100px;
	height: 100px;
	background-position: left top;
	background-repeat: no-repeat;
	background-size: contain;
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
}
#ocellarisClownfish {
	background-image: url('ocellarisClownfish_small.png');
}
#blueTang {	
	background-image: url('blueTang_small.png');
	width: 300px;
	height: 300px;
}
#angelfish {
	background-image: url('angelfish_small.png');
}
#anemone {background-color:blue;}
#azureDamselfish {background-color:blue;}
#banggaiCardinalFish {background-color:blue;}
#blueDamselfish {background-color:blue;}
#blueGreenChromis {background-color:blue;}
#blueTang {background-color:blue;}
#bluebandGoby {background-color:blue;}
#bluestreakCleanerWrasse {background-color:blue;}
#clownTriggerfish {background-color:blue;}
#coralBeautyAngelfish {background-color:blue;}
#coral {background-color:blue;}
#crab {background-color:blue;}
#snail {background-color:blue;}
#dogFacedPufferfish {background-color:blue;}
#dominoDamsel {background-color:blue;}
#eel {background-color:blue;}
#fireGoby {background-color:blue;}
#flameAngelfish {background-color:blue;}
#fourStripeDamselfish {background-color:blue;}
#humbugDamselfish {background-color:blue;}
#jewelledBlenny {background-color:blue;}
#lionfish {background-color:blue;}
#mandarinfish {background-color:blue;}
#nigerTrigger {background-color:blue;}
#pajamaCardinalfish {background-color:blue;}
#seaHorse {background-color:blue;}
#sixlineWrasse {background-color:blue;}
#watchmanGoby {background-color:blue;}
#yellowtailDamselfish {background-color:blue;}